<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All Users Table</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.getId()}"/>
            <th th:text="${user.getFirstName()}"/>
            <th th:text="${user.getLastName()}"/>
            <th th:text="${user.getAge()}"/>
            <th th:text="${user.getEmail()}"/>
            <th th:text="${user.getRoles()}"/>
            <th>
                <a th:href="@{/admin/edit?id={id}(id=${user.getId})}">
                    <button type="button">Edit</button>
                </a>
            </th>
            <th>
                <form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${user.getId})}">
                    <input type="submit" value="Delete"/>
                </form>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<br>
<hr>
<a href="/admin/new">
    <button type="button">Create New User</button>
</a>
<br>
<br>
<a href="/logout">
    <button type="button">Logout</button>
</a>
</body>
</html>