<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<h1>User</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th th:text="${user.getId()}"/>
            <th th:text="${user.getFirstName()}"/>
            <th th:text="${user.getLastName()}"/>
            <th th:text="${user.getAge()}"/>
            <th th:text="${user.getEmail()}"/>
            <th th:text="${user.getRoles()}"/>
        </tr>
        </tbody>
    </table>
</div>
<br>
<hr>
<a href="/logout">
    <button type="button">Logout</button>
</a>
</body>
</html>